/* Custom Badges */

/* General */
#chat .badge-box i,
.right-side-wrapper #chat .badge-box .icon-arrow-down {
    transform: scale(1) !important;
}
#chat-messages .badge-box {
    background: none !important;
}

/* ejox */
#chat-messages .id-3941421 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-3941421 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-3941421 .badge-box i.bdg,
#chat-messages .id-3941421 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/TTuZa8k.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-3941421::before {
    background-image: url("https://i.imgur.com/b4OyN8c.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    transition: 0.4s;
}

/* xQc */
#chat-messages .id-37147238 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37147238 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37147238 .badge-box i.bdg,
#chat-messages .id-37147238 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/Sp7GV5H.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37147238::before {
    background-image: url("https://i.imgur.com/OASwQC0.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    transition: 0.4s;
}

/* Raepix */
#chat-messages .id-38539600 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-38539600 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-38539600 .badge-box i.bdg,
#chat-messages .id-38539600 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/opEPJRV.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-38539600::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* Harry_McKenzie */
#chat-messages .id-37218461 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37218461 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37218461 .badge-box i.bdg,
#chat-messages .id-37218461 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/1bBaIDx.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37218461::before {
    background-image: url("https://i.imgur.com/T9mflGN.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    transition: 0.4s;
}

/* rustyimpact - SCUFFED */
#chat-messages .id-37840096 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37840096 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37840096 .badge-box i.bdg,
#chat-messages .id-37840096 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/4miw7P8.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37840096::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* welkerville - SCUFFED */
#chat-messages .id-14846989 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-14846989 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-14846989 .badge-box i.bdg,
#chat-messages .id-14846989 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/XMMcRaY.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-14846989::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* BounceBot - SCUFFED */
#chat-messages .id-40471126 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-40471126 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-40471126 .badge-box i.bdg,
#chat-messages .id-40471126 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/sNRO3ye.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-40471126::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* Baddra93 */
#chat-messages .id-38773628 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-38773628 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-38773628 .badge-box i.bdg,
#chat-messages .id-38773628 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/3FZLdrG.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-38773628::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* Fall_1965 */
#chat-messages .id-39769462 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-39769462 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-39769462 .badge-box i.bdg,
#chat-messages .id-39769462 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/ln3oD3Q.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-39769462::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* Cal - SCUFFED */
#chat-messages .id-6380999 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-6380999 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-6380999 .badge-box i.bdg,
#chat-messages .id-6380999 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/kG6bPuu.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-6380999::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* MoistSalt */
#chat-messages .id-37224716 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37224716 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37224716 .badge-box i.bdg,
#chat-messages .id-37224716 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/4wQiCiJ.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37224716::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* SlyVII */
#chat-messages .id-11556348 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-11556348 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-11556348 .badge-box i.bdg,
#chat-messages .id-11556348 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/4E79Osz.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-11556348::before {
    background-image: url("https://i.imgur.com/f4qI9wp.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    transition: 0.4s;
}

/* AnUglyTurtle */
#chat-messages .id-5049254 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-5049254 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-5049254 .badge-box i.bdg,
#chat-messages .id-5049254 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/Ci6Qrxu.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-5049254::before {
    background-image: url("https://i.imgur.com/SErwwK9.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* NamelessHoboPony */
#chat-messages .id-37503257 .badge-box {
    width: 0px;
    height: 0px;
    transition: 0.5s;
}

#chat-messages .id-37503257 .badge-box:hover {
    width: 0px;
    height: 0px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37503257 .badge-box i.bdg,
#chat-messages .id-37503257 .badge-box i.bdg {
    background-image: url("");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37503257::before {
    background-image: url("https://i.imgur.com/jmvghC6.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    transition: 0.4s;
}

/* Chicbreeze */
#chat-messages .id-42616838 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-42616838 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-42616838 .badge-box i.bdg,
#chat-messages .id-42616838 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/k0FbpRn.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-42616838::before {
    background-image: url("https://i.imgur.com/jvqfsF0.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    transition: 0.4s;
}
.cm.id-42616838::before {
    content: "MVP | May 2019";
    border-left: 500;
    border-top: 100;
  }
/* Ageless */
#chat-messages .id-37174830 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37174830 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37174830 .badge-box i.bdg,
#chat-messages .id-37174830 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/lA8xIkX.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37174830::before {
    background-image: url("https://i.imgur.com/JpJWIO6.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    transition: 0.4s;
}

/* Haise */
#chat-messages .id-38607903 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-38607903 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-38607903 .badge-box i.bdg,
#chat-messages .id-38607903 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/vUhnTA4.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-38607903::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}
