/* Custom Badges */

/* General */
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* xQc */
#user-rollover.id-37147238 .badge-box i.bdg,
.id-37147238 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/uT9G9t0.gif");
}

/* ejox */
#user-rollover.id-3941421 .badge-box i.bdg,
.id-3941421 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/8bgZRpM.gif");
}

/* Raepix */
#user-rollover.id-38539600 .badge-box i.bdg,
.id-38539600 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/twAgcv1.png");
}

/* Harry_McKenzie */
#user-rollover.id-37218461 .badge-box i.bdg,
.id-37218461 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/0unoP01.png");
}

/* HandsomeWalnut */
#user-rollover.id-37633188 .badge-box i.bdg,
.id-37633188 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/Z548G2y.png");
}

/* Mr. Destructoid */
#user-rollover.id-39408073 .badge-box i.bdg,
.id-39408073 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/VSTSFN2.png");
}

/* rustyimpact */
#user-rollover.id-37840096 .badge-box i.bdg,
.id-37840096 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/Tg7vR6k.gif");
}

/* welkerville */
#user-rollover.id-14846989 .badge-box i.bdg,
.id-14846989 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/8I4qngI.gif");
}

/* Bouncer Bot 2 */
#user-rollover.id-40471126 .badge-box i.bdg,
.id-40471126 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/sNRO3ye.png");
}

/* Baddra93 */
#user-rollover.id-38773628 .badge-box i.bdg,
.id-38773628 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/HYGanvq.gif");
}

/* Fall_1965 */
#user-rollover.id-39769462 .badge-box i.bdg,
.id-39769462 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/FHGALs5.gif");
}

/* Cal */
#user-rollover.id-6380999 .badge-box i.bdg,
.id-6380999 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/kG6bPuu.png");
}

/* MoistSalt */
#user-rollover.id-37224716 .badge-box i.bdg,
.id-37224716 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/vyR4F49.gif");
}

