/* Custom Badges */

/* General */
#chat .badge-box i,
.right-side-wrapper #chat .badge-box .icon-arrow-down {
    transform: scale(1) !important;
}
#chat-messages .badge-box {
    background: none !important;
}

/* ejox */
#chat-messages .id-3941421 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-3941421 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-3941421 .badge-box i.bdg,
#chat-messages .id-3941421 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/TTuZa8k.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-3941421::before {
    background-image: url("https://i.imgur.com/b4OyN8c.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    transition: 0.4s;
}

/* xQc */
#chat-messages .id-37147238 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37147238 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37147238 .badge-box i.bdg,
#chat-messages .id-37147238 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/Sp7GV5H.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37147238::before {
    background-image: url("https://i.imgur.com/OASwQC0.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    transition: 0.4s;
}

/* BounceBot - SCUFFED */
#chat-messages .id-40471126 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-40471126 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-40471126 .badge-box i.bdg,
#chat-messages .id-40471126 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/sNRO3ye.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-40471126::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* Baddra93 */
#chat-messages .id-38773628 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-38773628 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-38773628 .badge-box i.bdg,
#chat-messages .id-38773628 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/3FZLdrG.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-38773628::before {
    background-image: url("");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transition: 0.4s;
}

/* 808ref */
#chat-messages .id-43911460 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-43911460 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-43911460 .badge-box i.bdg,
#chat-messages .id-43911460 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/AtrRJOp.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-43911460::before {
    background-image: url("https://i.imgur.com/5zP6sRU.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: -1;
    transition: 0.4s;
}

/* Risotto Nero */
/*User Background*/ 
.cm.id-50102609::before {
    background-image: url("https://i.imgur.com/ox78gGV.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    transition: 0.4s;
}

/* MrDerf */
#chat-messages .id-41485803 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-41485803 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-41485803 .badge-box i.bdg,
#chat-messages .id-41485803 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/8r9a7Sj.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-41485803::before {
    background-image: url("https://i.imgur.com/iWR8AxH.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    transition: 0.4s;
}

/* Ageless */
#chat-messages .id-37174830 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-37174830 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-37174830 .badge-box i.bdg,
#chat-messages .id-37174830 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/lA8xIkX.png");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-37174830::before {
    background-image: url("https://i.imgur.com/ajzLMPU.jpg");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    transition: 0.4s;
}

/* Discrested */
#chat-messages .id-45541957 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-45541957 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
} 

/*User Badge*/ 
#user-rollover.id-45541957 .badge-box i.bdg,
#chat-messages .id-45541957 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/aBX5t2l.gif");
    /* old new badge https://i.imgur.com/Vh0jbRm.gif */
    /* old badge:https://i.imgur.com/M1oMf8r.gif */
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
} 
/*User Background*/ 
.cm.id-45541957::before {
    background-image: url("https://i.imgur.com/VB7USk6.gif"); 
    /* https://i.imgur.com/89zEAKF.gif <-warface*/
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.33;
    z-index: -1;
    transition: 0.4s;
}

/* lennox */
#chat-messages .id-41096019 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-41096019 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
} 

/*User Badge*/ 
#user-rollover.id-41096019 .badge-box i.bdg,
#chat-messages .id-41096019 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/jnNAEhn.jpg");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}

/*User Background*/
.cm.id-41096019::before {
    background-image: url("https://i.imgur.com/089YZMN.jpg");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    transition: 0.4s;
}

/* LiptonGod */
#chat-messages .id-42112940 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

#chat-messages .id-42112940 .badge-box:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

/*User Badge*/
#user-rollover.id-42112940 .badge-box i.bdg,
#chat-messages .id-42112940 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/9IOyjqR.gif");
    background-size: cover;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*User Background*/
.cm.id-42112940::before {
    background-image: url("https://i.imgur.com/WvPPuPZ.gif");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    transition: 0.4s;
}
